# Stripe keys
STRIPE_PUBLISHABLE_KEY=pk_test_xyz...
STRIPE_SECRET_KEY=sk_test_abc...

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_123...

# Stripe subscription data
DOMAIN=http://localhost:4242
BASIC_PRICE_ID=price_xyz987...
PRO_PRICE_ID=price_abc123...

# Environment
STATIC_DIR=../../client
