# Stripe keys
STRIPE_PUBLIC_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_12345

# Stripe subscription data
DOMAIN=http://localhost:4242
BASIC_PLAN_ID=plan_12345
PRO_PLAN_ID=plan_67890

# Environment
STATIC_DIR=../../client